<div class="center jumbotron">
  <h1>About</h1>
  <p>
    Created in the Complete Rails course on Udemy.<br/>
    My GitHub is <a href="http://github.com/erickm32/">erickm32</a>.
  </p>
  <%= link_to "Home", root_path, class: 'btn btn-primary btn-lg home-btn'%>
</div>
