<!--
<%= image_tag 'https://placehold.it/350x150' %>
<%= image_tag 'https://unsplash.it/200/300/?random' %>
-->
<div class="center jumbotron">
  <h1>ALPHA BLOG</h1>
  <%= link_to "Sign up now", '#', class: 'btn btn-primary btn-lg home-btn' %>
</div>
