<h1>This is the homepage</h1>
<%= image_tag 'https://placehold.it/350x150' %>
<%= image_tag 'https://unsplash.it/200/300/?random' %>
<p>Só colocar o que quiser aqui.</p>
<br>
<%= link_to "About", about_path %>
<%= link_to "Articles page", articles_path %>
