<div class="container">
  <footer class="footer">
    <small>
      <a href="http://github.com/erickm32/">By Erick Moreira</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
